.conditions {
    .section__wrap {

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            animation: animatedBackground 60s linear infinite;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 90%;
            position: absolute;
            bottom: 0;
            left: 30%;
            background-size: contain;

            @include tablets {
                filter: opacity(.3);
            }
        }
    }

    .section__inner-block {
        justify-content: flex-start;

        h4 {
            margin-bottom: rem(15px);
        }
        @include desktops {
            flex-direction: column;
        }
    }

    .left-block {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: rem(30px) 0;
        @include desktops {
            width: 100%;
            order: 2;
        }
        @include laptops {
            flex-direction: row;
        }
        @include phones {
            flex-direction: column;
        }
    }
    .right-block {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: rem(30px) 0;
        @include desktops {
            width: 100%;
            order: 1;
        }
    }

    ul {
        list-style: disc;
        margin-left: rem(18px);
        margin-right: 10%;

        li {
            margin-bottom: rem(10px);
        }
    }

    h3 {
        font-weight: 500;
        font-size: rem(21px);
        margin-bottom: rem(15px);
    }
}
.conditions__pic {
    max-width: 100%;
    image-rendering: pixelated;
}
.conditions__desc {
    flex: 1;
    padding-right: rem(15px);
}