.conditions {
    .section__wrap {
        background: $beige;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('./assets/images/bg/cloud.png') repeat-x 0 center;
            background-size: cover;
            animation: animatedBackground 60s linear infinite;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 90%;
            position: absolute;
            bottom: 0;
            left: 30%;
            background: url('./assets/images/condition_img.png') no-repeat bottom center;
            background-size: contain;

            @include tablets {
                filter: opacity(.3);
            }
        }
    }

    .section__inner-block {
        justify-content: flex-start;
    }

    .left-block {
        width: 70%;
        margin-bottom: 3.75rem;
        column-count: 2;

        @include laptops {
            column-count: 1;
        }
        @include tablets {
            width: 100%;
        }
    }

    ul {
        list-style: disc;
        margin-left: rem(18px);
        margin-right: 10%;

        li {
            margin-bottom: rem(10px);
        }
    }

    h3 {
        font-weight: 500;
        font-size: rem(21px);
        margin-bottom: rem(15px);
    }
}