.features {
    .section__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section__inner-block {
        @include laptops {
            flex-wrap: wrap;
        }
    }
    .left-block {
        width: 60%;
        padding-right: 3.75rem;
        position: relative;

        video {
            width: 100%;
        }

        @include laptops {
            width: 100%;
            padding-right: 0;
            margin-bottom: rem(30px);
        }
    }
    .right-block {
        width: 40%;
        display: flex;
        @include laptops {
            width: 100%;
        }
    }
}
.features__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
    //background: $dark;
    color: $primary-color;
    padding: 0.9375rem;
    text-align: center;
    border-radius: 0.625rem;

    &:last-child {
        margin-bottom: 0;
    }
}
.feature__icon {
    height: rem(85px);
    width: rem(85px);
    min-width: rem(85px);
    margin-right: 0.9375rem;
    border-radius: 50%;
    padding: rem(10px);
    background: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        max-width: rem(55px);
        max-height: rem(55px);
        filter: drop-shadow(0.25rem 0 0.25rem rgba(0,0,0,.25));
    }
}
.feature__desc {
    margin-right: auto;
    text-align: left;
}

.features__bottom-block {
    text-align: center;
    padding: 1.875rem 0;
}
.app__link {
    display: inline-block;
    margin: 0 1.875rem;
    text-decoration: none;
    width: rem(150px);
    height: rem(50px);
    overflow: hidden;
    transform-origin: 50%;
    transition: .3s;
    position: relative;

    &:hover {
        transform: scale(1.2);
    }
}
.app__icon {
    width: 100%;
    position: absolute;
    left: 0;
}

.google-play {
    bottom: 0;
}

.screen {
    width: 100%;
}