.features {
    .section__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: lighten($secondary-color, 35%);
    }

    .section__content {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -5vw;
            width: 38%;
            height: 100%;
            //background-color: lighten($secondary-color, 30%);
            @include desktops {
                width: 48%;
            }
            @include laptops {
                display: none;
            }
        }
    }

    .section__inner-block {
        @include laptops {
            flex-wrap: wrap;
        }
    }
    .left-block {
        width: 70%;
        padding-right: 3.75rem;
        position: relative;

        video {
            width: 100%;
        }

        @include desktops {
            width: 60%;
        }
        @include laptops {
            width: 100%;
            padding-right: 0;
            margin-bottom: rem(30px);
        }
    }
    .right-block {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include desktops {
            width: 40%;
        }
        @include laptops {
            width: 100%;
        }
    }
}
.features__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include laptops {
        order: 2;
    }
}

.feature__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);
    padding: rem(7px) rem(15px);
    text-align: center;
    border-radius: 0.625rem;

    &:last-child {
        margin-bottom: 0;
    }
}
.feature__icon {
    height: rem(70px);
    width: rem(70px);
    min-width: rem(70px);
    margin-right: rem(15px);
    border-radius: 50%;
    padding: rem(10px);
    border: rem(4px) solid $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        max-width: rem(30px);
        max-height: rem(30px);
    }

    @include laptops {
        margin-right: rem(10px);
        padding: rem(7px);
    }
}
.feature__desc {
    margin-right: auto;
    text-align: left;
}

.features__bottom-block {
    padding: rem(30px) rem(15px);
    @include laptops {
        order: 1;
        text-align: center;
    }
}
.app__link {
    display: inline-block;
    margin-right: rem(20px);
    text-decoration: none;
    width: rem(150px);
    height: rem(50px);
    overflow: hidden;
    transform-origin: 50%;
    transition: .3s;
    position: relative;

    &:hover {
        transform: scale(1.2);
    }
}
.app__icon {
    width: 100%;
    position: absolute;
    left: 0;
}

.google-play {
    bottom: 0;
}

.screen {
    width: 100%;
}
.screen__item {
    text-align: center;
}