footer.footer
  .bottom-menu
    a(href="privacy-policy.html") Privacy Policy
    
  .copyright
    a(href="/") DoubleAPublishing
    span &nbsp;&copy; <script type="text/javascript">var d = new Date();document.write(d.getFullYear());</script>
