// Colors
$primary-color: #FF9736;
$secondary-color: #5E97DA;
$dark: #394151;
$gray: #C9CDD3;
$light-gray: #ECEEF1;
$beige: #ddd7c1;
$white: #fff;
$brown: #32282F;
$neutral: #999;
$black: #1B2126;

// Resolutions
$phones: 480px;
$tablets: 768px;
$laptops: 992px;
$desktops: 1200px;