extends ../main.layout.pug

block content
  section#hero.hero(data-image="1")
    .hero__bg.hero__bg_1.show
    .hero__bg.hero__bg_2
    .hero__bg.hero__bg_3
    .hero__actions
      .container
        a.button-2(href="http://dashboard.behind.com.ua/login" target="_blank") Увійти
        a.button-2(href="http://dashboard.behind.com.ua/registration" target="_blank") Зареєструватися
    .container.hero__content
      .hero__desc
        +image('behind-logo.png', 'Behind', 'logo-icon')
        h1.site-title ЗАЗИРНИ ЗА ЛАШТУНКИ
        h2.site-subtitle За допомогою телефону ти можеш побачити більше, ніж просто картинку. Дізнайся, що за нею приховано
      .main__img(data-wow-offset="40").wow.slideInUp
        .main__pic
          +image("/bg/main_img-1.png", "", "main-image-1")
          +image("/bg/main_img-2.png", "", "main-image-2")
          +image("/bg/main_img-3.png", "", "main-image-3")
        +image('phone.png', "", "")

  section#features.features
    +preload('Про Behind')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('Про Behind', 'Як же це працює')
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            ul.screen-slider
              li.screen__item
                +image('/screens/slide1.png', 'Наведи телефон на картинку', 'screen')
                h3.screen__title Наведи телефон на картинку
                .screen__desc Зазвичай, живі картинки помічені логотипом Behind
              li.screen__item
                +image('/screens/slide2.png', 'Намагайся вмістити картинку в рамку', 'screen')
                h3.screen__title Намагайся вмістити картинку в рамку
                .screen__desc Потроху рухайте телефоном, щоб спіймати картинку
              li.screen__item
                +image('/screens/slide3.png', 'Повертайте телефон', 'screen')
                h3.screen__title Повертай телефон на картинку
                .screen__desc Обирай між портретною та альбомною орієнтацією для кращого відображення
              li.screen__item
                +image('/screens/slide4.png', 'Посилання', 'screen')
                h3.screen__title Посилання
                .screen__desc Натискаючи іконку внизу екрану, ви потрапите на сайт, прив`язаний до відео

            //video(src="https://www.dropbox.com/s/sja8t5ddn207p7b/MANUAL%20QR%20book.mp4?dl=1" controls)
          .right-block
            .features__list
              +features('1', 'Завантажте доданок Behind з PlayMarket або App Store')
              +features('2', 'Запустіть його та наведіть на зображення позначеного відміткою Behind (лого). Дочекайтесь завантаження прихованого контенту.')
              +features('3', 'Дивіться, слухайте, насолоджуйтесь')

            .features__bottom-block
              a(href="https://play.google.com/store/apps/details?id=ua.com.behind").app__link
                +image('app-store-btn-sprite.png', 'Google Play', 'app__icon google-play')
              a(href="https://apps.apple.com/ua/app/behind-ar/id1529572202?l=ru").app__link
                +image('app-store-btn-sprite.png', 'App Store', 'app__icon app-store')

  section#conditions.conditions
    +preload('ДЛЯ ЗАМОВНИКА')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('ДЛЯ ЗАМОВНИКА', 'Що потрібно, щоб ваша картинка ожила')
        p(data-wow-offset="40").wow.slideInLeft Тепер ви можете оживити вашу картинку самостійно. Це можна зробити або з комп’ютера, або прямо з телефона.
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            .conditions__desc
              h4 З КОМП'ЮТЕРА
              p <a href="http://dashboard.behind.com.ua/registration" target="_blank">Зареєструйтесь</a> на сайті
              p Зайдіть у свій кабінет і додайте нову картинку.
              ul
                li Підвантажте картинку, введіть необхідну назву.
                li За потреби, додайте лінк та телефон.
                li Там же додайте відео.
                li Підтвердіть.
            .conditions__desc
              h4 З ТЕЛЕФОНА
              p Встановіть доданок Behind з <a href="https://play.google.com/store/apps/details?id=ua.com.behind" target="_blank">Play Market</a> або <a href="https://apps.apple.com/ua/app/behind-ar/id1529572202?l=rus" target="_blank">AppStore</a>
              p Запустіть доданок.
              p Зайдіть в меню і оберіть «Управління картинками».
              p Увійдіть в свій кабінет (якщо ви ще не зареєстровані – зареєструйтесь).
              p Додайте нову картинку
              ul
                li Підвантажте картинку, введіть необхідну назву.
                li За потреби, додайте лінк та телефон.
                li Там же додайте відео.
                li Підтвердіть.
          .right-block(data-wow-offset="40").wow.slideInLeft
             +image('smartmockups.png', '', 'conditions__pic')   
        p(data-wow-offset="40").wow.slideInLeft Після обробки ваша картинка із відео потрапляють в систему.
        p(data-wow-offset="40").wow.slideInLeft Картинка не буде увімкнена автоматично до перегляду, поки ви не станете довіреним користувачем.
        p(data-wow-offset="40").wow.slideInLeft Спочатку ми її перевіримо, щоб там не було якогось неприємного або забороненого змісту. Якщо все гаразд, картинка вмикається і миттєво потрапляє на всі телефони, на яких встановлений додаток Behind.
        p(data-wow-offset="40").wow.slideInLeft Все . Додавайте ще і розкажіть друзям, наскільки це просто! І не забудьте всім розказати про вашу живу картинку!

  section#advices.advices
    +preload('ПОРАДИ')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('ПОРАДИ', 'На що варто звернути увагу')
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            ul
              li Картинку бажано знімати в умовах наближених до тих, де її будуть переглядати користувачі.
              li Не варто завантажувати довгі відео. Рекомендовано до 1 хв. Довше навряд будуть дивитись. Тому воно має буте коротке, але цікаве.
              li Є можливість приєднувати інший контент та додаткову інформацію. Якщо вас це цікавіть – 
                a(href="#feedback") зв’яжіться з нами. 
              li Також ми можемо допомогти вам зі створенням професійного відео та іншого контенту. 

  section#price.price
    +preload('ВАРТІСТЬ')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('Вартість', 'Скільки це коштує')
        .section__inner-block.price-slider
          .price__slide
            .price__item(data-wow-offset="40").wow.slideInUp
              .tarif__desc
                .tarif__title Тариф "Free"
                p Ви можете тримати активними до 3-х картинок протягом місяця, змінюючи відео, посилання та телефони під ними без обмежень
                +image('/free-tarif.png', '', 'tarif__image')
                .tarif__order
                  .tarif__cost Безкоштовно
                  //.button.order--button Заказать
              .tarif__order-form
                .close-btn.order--reset x
                .tarif__title Заполните форму для заказа
                form(action="").order__form
                  input(type="text" placeholder="Имя*" required).order__name
                  input(type="email" placeholder="Email*" required).order__email
                  input(type="phone" placeholder="Телефон").order__phone
                  input(type="text" placeholder="Ссылка на изображение").order__file
                  input(type="text" placeholder="Ссылка на видео").order__link
                  .tarif__order
                    button.button Отправить заказ
                    a(href="").order--reset Отменить
          .price__slide
            .price__item(data-wow-offset="40").wow.slideInUp
              .tarif__desc
                .tarif__title Тариф "Basic"
                p Ви можете тримати активними від 4-х до 15-ти картинок протягом місяця, змінюючи відео, посилання та телефони під ними без обмежень
                +image('/basic-tarif.png', '', 'tarif__image')
                .tarif__order
                  .tarif__cost $4 за зображення / міс.
                  //.button.order--button Заказать
              .tarif__order-form
                .close-btn.order--reset x
                .tarif__title Заполните форму для заказа
                form(action="").order__form
                  input(type="text" placeholder="Имя*" required).order__name
                  input(type="email" placeholder="Email*" required).order__email
                  input(type="phone" placeholder="Телефон").order__phone
                  input(type="text" placeholder="Ссылка на изображение").order__file
                  input(type="text" placeholder="Ссылка на видео").order__link
                  .tarif__order
                    button.button Отправить заказ
                    a(href="").order--reset Отменить
          .price__slide
            .price__item(data-wow-offset="40").wow.slideInUp
              .tarif__desc
                .tarif__title Тариф "Advanced"
                p Більше 15 активних картинок на місяць
                +image('/advanced-tarif.png', '', 'tarif__image')
                .tarif__order
                  .tarif__cost За домовленістю
                  //.button.order--button Заказать
              .tarif__order-form
                .close-btn.order--reset x
                .tarif__title Заполните форму для заказа
                form(action="").order__form
                  input(type="text" placeholder="Имя*" required).order__name
                  input(type="email" placeholder="Email*" required).order__email
                  input(type="phone" placeholder="Телефон").order__phone
                  input(type="text" placeholder="Ссылка на изображение").order__file
                  input(type="text" placeholder="Ссылка на видео").order__link
                  .tarif__order
                    button.button Отправить заказ
                    a(href="").order--reset Отменить

  section(data-wow-offset="20")#feedback.feedback.wow.fadeIn
    .container.section__content
      h2.section__title Зв'яжіться з нами
      .section__desc Якщо Ви зацікавлені або у Вас виникли питання
      .section__desc#responseMessage(style="display: none;") Ваше повідомлення прийнято
      form#feedbackForm.feedback__form
        p * Всі поля обов'язкові до заповнення
        .form__row
          input(type="text" placeholder="Ваше ім'я" name="name" required)
          input(type="email" placeholder="Ваш email" name="email" required)
        textarea(placeholder="Ваше повідомлення" name="text" required)
        button(type="submit").button Надіслати

  .fixed-menu
    a(href="#hero").logo__link
      +image('behind-logo.png', 'Home', 'menu-logo')
    nav.page-nav
      .nav__item.active
        a(href="#features")
          .nav__prompt Про Behind
      .nav__item
        a(href="#conditions")
          .nav__prompt Для замовника
      .nav__item
        a(href="#advices")
          .nav__prompt Поради
      .nav__item
        a(href="#price")
          .nav__prompt Вартість
      .nav__item
        a(href="#feedback")
          .nav__prompt Зворотній зв'язок
  
block scripts
  <script>new WOW().init();</script>
  script
    include ../../scripts/slider.js