extends ../main.layout.pug

block content
  section#hero.hero(data-image="1")
    .hero__bg.hero__bg_1.show
    .hero__bg.hero__bg_2
    .hero__bg.hero__bg_3
    .container.hero__content
      .hero__desc
        +icon('logo', 'logo-icon')
        h1.site-title ЗАЗИРНИ ЗА ЛАШТУНКИ
        h2.site-subtitle За допомогою телефону ти можеш побачити більше, ніж просто картинку. Дізнайся, що за нею приховано
      .main__img(data-wow-offset="40").wow.slideInUp
        .main__pic
          +image("/bg/main_img-1.png", "", "main-image-1")
          +image("/bg/main_img-2.png", "", "main-image-2")
          +image("/bg/main_img-3.png", "", "main-image-3")
        +image('phone.png', "", "")

  section#features.features
    +preload('Про Behind')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('Про Behind', 'Як же це працює')
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            video(src="https://www.dropbox.com/s/sja8t5ddn207p7b/MANUAL%20QR%20book.mp4?dl=1" controls)
          .right-block
            .features__list
              +features('picture', 'Завантажте доданок Behind з AppStore або PlayMarket')
              +features('mobile-app', 'Запустіть його та наведіть на зображення позначеного відміткою Behind (лого). Дочекайтесь завантаження прихованого контенту.')
              +features('view', 'Дивіться, слухайте, насолоджуйтесь')

      .features__bottom-block(data-wow-offset="40").wow.slideInUp
        .container
          a(href="").app__link
            +icon('google-play', 'app__icon')
          a(href="").app__link
            +icon('app-store', 'app__icon')

  section#conditions.conditions
    +preload('ДЛЯ ЗАМОВНИКА')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('ДЛЯ ЗАМОВНИКА', 'Що потрібно, щоб ваша картинка ожила')
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            p
              strong Насправді, зовсім небагато:
            ul
              li Потрібен файл з картинкою, яка буде оживати. Можна відсканувати, сфотографувати і т.ін.
              li Ще потрібен лінк на відео, яке буде відтворюватись на картинці.
              li Наступний крок – обрати пакет, який вас цікавить, та надіслати заповнену заявку.
              li На вашу адресу буде сформовано та надіслано запит на оплату. 
              li Протягом доби після сплати ваша картинка оживе.
              li Але для того, щоб користувачі дізнались, що там ще щось є, ви маєте розмістити мітку Behind на картинці у видимому місці. Мітку можна скачати ТУТ.
              li Також ви можете замовити у нас наліпки, які можна клеїти на вже віддруковані зображення.


          .right-block(data-wow-offset="40").wow.slideInRight
            p
              strong На що варто звернути увагу:
            ul
              li Картинку бажано знімати в умовах наближених до тих, де її будуть переглядати користувачі.
              li Не варто завантажувати довгі відео. Рекомендовано до 1 хв. Довше навряд будуть дивитись. Тому воно має буте коротке, але цікаве.
              li Зйомку картинки та відео бажано робити портретно, але це необов’язково.
              li Є можливість приєднувати інший контент та додаткову інформацію. Якщо вас це цікавіть – зв’яжіться з нами. 
              li Також ми можемо допомогти вам зі створенням професійного відео та іншого контенту. 


  //section#price.price
    +preload('Стоимость')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('Стоимость', 'Сколько это стоит')
        .section__inner-block
          .price__item(data-wow-offset="40").wow.slideInUp
            .tarif__desc
              .tarif__title Тариф "Базовый"
              ul.tarif__list
                li.tarif__item Lorem ipsum dolor sit amet..
                li.tarif__item Consectetur adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Lorem ipsum dolor sit amet, consectetur
              .tarif__order
                .tarif__cost 1234 usd
                .button.order--button Заказать
            .tarif__order-form
              .close-btn.order--reset x
              .tarif__title Заполните форму для заказа
              form(action="").order__form
                input(type="text" placeholder="Имя*" required).order__name
                input(type="email" placeholder="Email*" required).order__email
                input(type="phone" placeholder="Телефон").order__phone
                input(type="text" placeholder="Ссылка на изображение").order__file
                input(type="text" placeholder="Ссылка на видео").order__link
                .tarif__order
                  button.button Отправить заказ
                  a(href="").order--reset Отменить
          .price__item(data-wow-offset="40").wow.slideInUp
            .tarif__desc
              .tarif__title Тариф "Оптимальный"
              ul.tarif__list
                li.tarif__item Lorem ipsum dolor sit amet..
                li.tarif__item Consectetur adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Lorem ipsum dolor sit amet, consectetur
                li.tarif__item Adipiscing elit, sed do eiusmod tempor..
              .tarif__order
                .tarif__cost 1234 usd
                .button.order--button Заказать
            .tarif__order-form
              .close-btn.order--reset x
              .tarif__title Заполните форму для заказа
              form(action="").order__form
                input(type="text" placeholder="Имя*" required).order__name
                input(type="email" placeholder="Email*" required).order__email
                input(type="phone" placeholder="Телефон").order__phone
                input(type="text" placeholder="Ссылка на изображение").order__file
                input(type="text" placeholder="Ссылка на видео").order__link
                .tarif__order
                  button.button Отправить заказ
                  a(href="").order--reset Отменить
          .price__item(data-wow-offset="40").wow.slideInUp
            .tarif__desc
              .tarif__title Тариф "Базовый"
              ul.tarif__list
                li.tarif__item Lorem ipsum dolor sit amet..
                li.tarif__item Consectetur adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Lorem ipsum dolor sit amet, consectetur
                li.tarif__item Adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Adipiscing elit, sed do eiusmod tempor..
              .tarif__order
                .tarif__cost 1234 usd
                .button.order--button Заказать
            .tarif__order-form
              .close-btn.order--reset x
              .tarif__title Заполните форму для заказа
              form(action="").order__form
                input(type="text" placeholder="Имя*" required).order__name
                input(type="email" placeholder="Email*" required).order__email
                input(type="phone" placeholder="Телефон").order__phone
                input(type="text" placeholder="Ссылка на изображение").order__file
                input(type="text" placeholder="Ссылка на видео").order__link
                .tarif__order
                  button.button Отправить заказ
                  a(href="").order--reset Отменить

  section(data-wow-offset="20")#feedback.feedback.wow.fadeIn
    .container.section__content
      h2.section__title Зв'яжіться з нами
      .section__desc Якщо Ви зацікавлені або у Вас виникли питання
      form(action="").feedback__form
        .form__row
          input(type="text" placeholder="Ваше ім'я" required)
          input(type="email" placeholder="Ваш email" required)
        textarea(placeholder="Ваше повідомлення" required)
        button(type="submit").button Надіслати
    .copyright
      a(href="/") DoubleAPublishing
      span &nbsp;&copy; 2019

block scripts
  <script>new WOW().init();</script>