extends ../main.layout.pug

block content
  section#hero.hero(data-image="1")
    .hero__bg.hero__bg_1.show
    .hero__bg.hero__bg_2
    .hero__bg.hero__bg_3
    .container.hero__content
      .hero__desc
        +image('behind-logo.png', 'Behind', 'logo-icon')
        h1.site-title ЗАЗИРНИ ЗА ЛАШТУНКИ
        h2.site-subtitle За допомогою телефону ти можеш побачити більше, ніж просто картинку. Дізнайся, що за нею приховано
        .hero__actions
          a.button-2(href="http://dashboard.behind.com.ua/login" target="_blank") Увійти
          a.button-2(href="http://dashboard.behind.com.ua/login" target="_blank") Зареєструватися
      .main__img(data-wow-offset="40").wow.slideInUp
        .main__pic
          +image("/bg/main_img-1.png", "", "main-image-1")
          +image("/bg/main_img-2.png", "", "main-image-2")
          +image("/bg/main_img-3.png", "", "main-image-3")
        +image('phone.png', "", "")

  section#features.features
    +preload('Про Behind')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('Про Behind', 'Як же це працює')
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            ul.screen-slider
              li.screen__item
                +image('/screens/slide1.png', 'Наведи телефон на картинку', 'screen')
              li.screen__item
                +image('/screens/slide2.png', 'Намагайся вмістити картинку в рамку', 'screen')
              li.screen__item
                +image('/screens/slide3.png', 'Повертайте телефон', 'screen')
              li.screen__item
                +image('/screens/slide4.png', 'Лінк', 'screen')
              li.screen__item
                +image('/screens/slide5.png', 'Зробіть СВОЮ власну картинку живою', 'screen')

            //video(src="https://www.dropbox.com/s/sja8t5ddn207p7b/MANUAL%20QR%20book.mp4?dl=1" controls)
          .right-block
            .features__list
              +features('picture', 'Завантажте доданок Behind з PlayMarket')
              +features('mobile-app', 'Запустіть його та наведіть на зображення позначеного відміткою Behind (лого). Дочекайтесь завантаження прихованого контенту.')
              +features('view', 'Дивіться, слухайте, насолоджуйтесь')

      .features__bottom-block(data-wow-offset="40").wow.slideInUp
        .container
          a(href="https://play.google.com/store/apps/details?id=ua.com.behind").app__link
            +image('app-store-btn-sprite.png', 'Google Play', 'app__icon google-play')
          a(href="https://apps.apple.com/ua/app/behind-ar/id1529572202?l=ru").app__link
            +image('app-store-btn-sprite.png', 'App Store', 'app__icon app-store')

  section#conditions.conditions
    +preload('ДЛЯ ЗАМОВНИКА')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('ДЛЯ ЗАМОВНИКА', 'Що потрібно, щоб ваша картинка ожила')
        .section__inner-block
          .left-block(data-wow-offset="40").wow.slideInLeft
            h3 Насправді, зовсім небагато:
            ul
              li Потрібен файл з картинкою, яка буде оживати. Можна відсканувати, сфотографувати і т.п.
              li Ще потрібен файл з відео, яке буде відтворюватись на картинці. Це може буте відео зняте на телефон або професійна зйомка.
              li Звяжіться з нами використовуючи форму внизу сторінки. Поштою ви отримаєте подальшу інструкцію по наданню вашої картинки, відео та додаткової необхідної інформації.
              li Після отримання необхідних даних, здебільшого протягом доби, ваша картинка оживе. 
              li Але для того, щоб користувачі дізнались, що за картинкою приховане відео, вкрай бажано розмістити мітку Behind на картинці у видимому місці. Мітку можна скачати <a href="/downloads/sticker-behind.jpg" download>ТУТ</a>.
              li Також ви можете замовити у нас наліпки, які можна клеїти на вже віддруковані зображення.
              li Сервіс Behind для приватних осіб з некомерційною інформацією є безкоштовним. Є обмеження щодо контенту та термінів надання послуг. За детальною інформацією звертайтесь використовуючи форму зворотного звязку.
              li Щодо умов використання сервісу в комерційних цілях, надішліть, будь ласка, запит і ми з вами зв`яжемось.
            h3 На що варто звернути увагу:
            ul
              li Картинку бажано знімати в умовах наближених до тих, де її будуть переглядати користувачі.
              li Не варто завантажувати довгі відео. Рекомендовано до 1 хв. Довше навряд будуть дивитись. Тому воно має буте коротке, але цікаве.
              li Є можливість приєднувати інший контент та додаткову інформацію. Якщо вас це цікавіть – зв’яжіться з нами. 
              li Також ми можемо допомогти вам зі створенням професійного відео та іншого контенту. 


  //section#price.price
    +preload('Стоимость')
    .section__wrap(data-wow-offset="40").wow.fadeIn
      .container.section__content
        +sectionHeader('Стоимость', 'Сколько это стоит')
        .section__inner-block
          .price__item(data-wow-offset="40").wow.slideInUp
            .tarif__desc
              .tarif__title Тариф "Базовый"
              ul.tarif__list
                li.tarif__item Lorem ipsum dolor sit amet..
                li.tarif__item Consectetur adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Lorem ipsum dolor sit amet, consectetur
              .tarif__order
                .tarif__cost 1234 usd
                .button.order--button Заказать
            .tarif__order-form
              .close-btn.order--reset x
              .tarif__title Заполните форму для заказа
              form(action="").order__form
                input(type="text" placeholder="Имя*" required).order__name
                input(type="email" placeholder="Email*" required).order__email
                input(type="phone" placeholder="Телефон").order__phone
                input(type="text" placeholder="Ссылка на изображение").order__file
                input(type="text" placeholder="Ссылка на видео").order__link
                .tarif__order
                  button.button Отправить заказ
                  a(href="").order--reset Отменить
          .price__item(data-wow-offset="40").wow.slideInUp
            .tarif__desc
              .tarif__title Тариф "Оптимальный"
              ul.tarif__list
                li.tarif__item Lorem ipsum dolor sit amet..
                li.tarif__item Consectetur adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Lorem ipsum dolor sit amet, consectetur
                li.tarif__item Adipiscing elit, sed do eiusmod tempor..
              .tarif__order
                .tarif__cost 1234 usd
                .button.order--button Заказать
            .tarif__order-form
              .close-btn.order--reset x
              .tarif__title Заполните форму для заказа
              form(action="").order__form
                input(type="text" placeholder="Имя*" required).order__name
                input(type="email" placeholder="Email*" required).order__email
                input(type="phone" placeholder="Телефон").order__phone
                input(type="text" placeholder="Ссылка на изображение").order__file
                input(type="text" placeholder="Ссылка на видео").order__link
                .tarif__order
                  button.button Отправить заказ
                  a(href="").order--reset Отменить
          .price__item(data-wow-offset="40").wow.slideInUp
            .tarif__desc
              .tarif__title Тариф "Базовый"
              ul.tarif__list
                li.tarif__item Lorem ipsum dolor sit amet..
                li.tarif__item Consectetur adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Lorem ipsum dolor sit amet, consectetur
                li.tarif__item Adipiscing elit, sed do eiusmod tempor..
                li.tarif__item Adipiscing elit, sed do eiusmod tempor..
              .tarif__order
                .tarif__cost 1234 usd
                .button.order--button Заказать
            .tarif__order-form
              .close-btn.order--reset x
              .tarif__title Заполните форму для заказа
              form(action="").order__form
                input(type="text" placeholder="Имя*" required).order__name
                input(type="email" placeholder="Email*" required).order__email
                input(type="phone" placeholder="Телефон").order__phone
                input(type="text" placeholder="Ссылка на изображение").order__file
                input(type="text" placeholder="Ссылка на видео").order__link
                .tarif__order
                  button.button Отправить заказ
                  a(href="").order--reset Отменить

  section(data-wow-offset="20")#feedback.feedback.wow.fadeIn
    .container.section__content
      h2.section__title Зв'яжіться з нами
      .section__desc Якщо Ви зацікавлені або у Вас виникли питання
      .section__desc#responseMessage(style="display: none;") Ваше повідомлення прийнято
      form#feedbackForm.feedback__form
        p * Всі поля обов'язкові до заповнення
        .form__row
          input(type="text" placeholder="Ваше ім'я" name="name" required)
          input(type="email" placeholder="Ваш email" name="email" required)
        textarea(placeholder="Ваше повідомлення" name="text" required)
        button(type="submit").button Надіслати

  .fixed-menu
    a(href="#hero").logo__link
      +image('behind-logo.png', 'Home', 'menu-logo')
    nav.page-nav
      .nav__item.active
        a(href="#features")
          .nav__prompt Про Behind
      .nav__item
        a(href="#conditions")
          .nav__prompt Для замовника
      //.nav__item
        a(href="#price")
          .nav__prompt Вартість
      .nav__item
        a(href="#feedback")
          .nav__prompt Зворотній зв'язок
    //.bottom-nav
      a(href="#")
        +icon("arrow-menu", "arrow-menu")
      .bottom-nav__item Для заказчика

  
block scripts
  <script>new WOW().init();</script>
  <script>$('.screen-slider').slick({autoplay: true,autoplaySpeed: 3000, arrows: false, dots: true});</script>
